[Unit]
Description=lightweight web browser for display %i
After=i3wm.target

[Service]
Environment=DISPLAY=%i
ExecStart=/usr/bin/dwb

[Install]
WantedBy=mystuff.target
