[Unit]
Description=Status bar for dwm
After=dwm.service
Requires=dwm.service

[Service]
Environment=DISPLAY=:0
ExecStart=/usr/bin/dwmstatus
Restart=no

[Install]
WantedBy=wm.target
