[Unit]
Description=Dynamic window manager written in C
Requires=xorg.target
Requires=mystuff.target
After=xorg.target
Before=mystuff.target

[Service]
Type=simple
GuessMainPID=yes
ExecStart=/home/wgiokas/git/KaiSforza/dwm/dwm
#ExecStart=/usr/bin/dwm
Restart=always
RestartSec=10

[Install]
WantedBy=wm.target
