[Unit]
Description=Dynamic window manager written in C
Requires=xorg.target
Requires=mystuff.target

[Service]
Type=simple
GuessMainPID=yes
Environment=PATH=/home/wgiokas/.cabal/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/bin/core_perl:/home/wgiokas/bin
Environment=DISPLAY=:0
ExecStart=/usr/bin/dwm
KillSignal=SIGKILL
Restart=always
RestartSec=10

[Install]
WantedBy=wm.target
