[Unit]
Description=Dynamic window manager written in C
Requires=xorg.target
Requires=mystuff.target
After=xorg.target
Before=mystuff.target

[Service]
Type=simple
GuessMainPID=yes
Environment=PATH=%h/.cabal/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/bin/core_perl:%h/bin
ExecStart=/home/wgiokas/bin/dwm
KillSignal=SIGKILL
Restart=always
RestartSec=10

[Install]
WantedBy=wm.target
