[Unit]
Description=Status bar for dwm
After=dwm.service
Requires=dwm.service

[Service]
ExecStart=/home/wgiokas/git/KaiSforza/dwmstatus/dwmstatus
Restart=no

[Install]
WantedBy=wm.target
