[Unit]
Description=Image editor for display %i
After=wm.target

[Service]
Environment=DISPLAY=%i
ExecStart=/usr/bin/gimp

[Install]
WantedBy=mystuff.target
