[Unit]
Description=comic book viewer for display %i
After=wm.target

[Service]
Environment=DISPLAY=%i
ExecStart=/usr/bin/mcomix

[Install]
WantedBy=mystuff.target
