[Unit]
Description=handle clipboards
Requires=xorg.target
After=xorg.target

[Service]
ExecStart=/usr/bin/parcellite

[Install]
WantedBy=mystuff.target
