[Unit]
Description=handle clipboards for display %i
Requires=xorg.target
After=xorg.target

[Service]
Environment=DISPLAY=%i
ExecStart=/usr/bin/parcellite

[Install]
WantedBy=mystuff.target
