[Unit]
Description=tmux client, session name: %i
Requires=mpd.service
After=mpd.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/tmux -f "/home/wgiokas/.tmux-nostatus.conf" new-session -d -s %i

ExecStop=/usr/bin/tmux kill-session -t %i

[Install]
WantedBy=mystuff.target
