[Unit]
Description=tmux server

[Service]
RemainAferExit=yes
ExecStart=/usr/bin/tmux start-server
ExecStop=/usr/bin/tmux kill-server

[Install]
WantedBy=mystuff.target
