[Unit]
Description=unclutter daemon to hide mouse pointer
Requires=xorg.target
After=xorg.target

[Service]
Type=simple
ExecStart=/usr/bin/unclutter -idle 2 -jitter 3
Restart=always

[Install]
WantedBy=mystuff.target
