[Unit]
Description=lock screen after a few minutes of inactivity
After=xorg.target
Requires=xorg.target

[Service]
Type=simple
ExecStart=/usr/bin/xautolock -time 15 -locker "systemctl --user restart i3lock.service"

[Install]
WantedBy=mystuff.target
