[Unit]
Description=bind hotkeys
Requires=xorg.target
After=xorg.target

[Service]
ExecStart=/usr/bin/xbindkeys -n -f %h/.xbindkeysrc

[Install]
WantedBy=mystuff.target
