[Unit]
Description=bind hotkeys for display %i
After=xorg.target

[Service]
Environment=DISPLAY=%i
ExecStart=/usr/bin/xbindkeys -n -f /home/wgiokas/.xbindkeysrc

[Install]
WantedBy=mystuff.target
