[Unit]
Description=xmodmap
After=xorg.target

[Service]
Type=oneshot
Environment=DISPLAY=:0
ExecStart=/usr/bin/xset -b
ExecStart=/usr/bin/setxkbmap us intl
ExecStart=/usr/bin/xmodmap /home/wgiokas/.Xmodmap
ExecStart=/usr/bin/xrdb /home/wgiokas/.Xresources
ExecStart=/usr/bin/xset +fp /usr/share/fonts/local
ExecStart=/usr/bin/xset fp rehash

[Install]
WantedBy=mystuff.target
